.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatbubble {
  max-width: 100%;
  width: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.bot{
  width:30px;
  height: 30px;
}
.little-padding {
  padding: 0.5rem;
}
.scroll-bottom {
  height: 70vh;
  width: 100%;
}
.bot-chat{
  background: #23232F;
  color: white;
}
.user-chat{
  background-image: linear-gradient(to right, #00B4DB, #0083B0);
  color: white;
}
.board-clr{
  background: #120F14;
}
.board-corner{
  border-radius: 1rem;
}
.typing-loader{
  width: 50px;
  height: 30px;
}
.dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}